@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body {
  background: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container .card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 20px;
  border-radius: 15px;
  max-width: 280px;
  background: hsl(216, 50%, 16%);
  box-shadow: 2px 25px 0px 15px hsl(217, 55%, 10%);
}
.card-content .img-container {
  max-height: 280px;
  border-radius: 12px;
  position: relative;
}
.img-top {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-content img {
  max-width: 280px;
}
.card-content .card-detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.card-content .card-title {
  margin-top: 1rem;
  font-size: 10px;
}
.card-detail .card-description {
  color: hsl(215, 51%, 70%);
  line-height: 1.6;
  font-size: 16px;
  font-weight: 300;
}
.card-detail .card-status {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}
.card-status .balance,
.card-status .time {
  display: inherit;
  align-items: center;
  gap: 0.5em;
}
.card-status .balance {
  color: hsl(178, 100%, 50%);
}
.card-status .time {
  color: hsl(215, 51%, 70%);
}
.card-creator {
  display: flex;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 300;
}
.card-creator img {
  max-width: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.card-creator p.user-text {
  padding-left: 10px;
  margin-right: 4px;
}
.card-creator .user-text {
  color: hsl(215, 51%, 70%);
}
.card-creator .creator-name {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.attribution {
  margin-top: 60px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
    .img-container,
    h1,
    .creator-name{
        cursor: pointer;
    }
    h1:hover,
    .creator-name:hover{
        color: hsl(178, 100%, 50%);
    }
    .img-hover{
        position: absolute;
        background: hsla(178, 100%, 50%, 0.365);
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .img-hover svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-hover:hover{
        opacity: 1;
    }
}